<div class="nav-item row text-white px-3 my-2" [routerLink]="[route]" [routerLinkActive]="'is-route-active'" [routerLinkActiveOptions]="{ exact: true }">
    <div class="col-2">
        <i [class]="itemIcon" style="font-size: 1.5rem;"></i>
    </div>
    <div class="col-8 d-flex align-items-center">
        <p class="font-weight-bolder mb-0">
            {{ itemName }}
        </p>
    </div>
    @if (arrowIcon) {
        <div class="col-2 d-flex align-items-center justify-content-end">
            <i class="bi bi-caret-right" style="font-size: 1.2rem;"></i>
        </div>
    }
    
</div>
