<div class="card-item my-2">
  <div class="div card-title p-3">
    <h4>
      {{ cardTitle }}
    </h4>
  </div>
  <div class="div text-center p-4">
    @if (cardData) {
    <div class="row">
      @for (data of cardData; track data) {
      <div class="div">
        <div class="row">
          @if (cardDataTitle) {
          <div class="col">
            {{ cardDataTitle }}
          </div>
          }
          <div class="col">
            {{ cardData }}
          </div>
        </div>
      </div>
      }
    </div>
    } @else {
    <p>
      Sem dados. <br />
      Cadastre suas UCs
    </p>
    }
  </div>
</div>
