<div class="card-item my-2">
  <div class="div card-title p-3">
    <h4>
      {{ cardTitle }}
    </h4>
  </div>
  <div class="text-center d-flex justify-content-center align-items-center">
    @if (cardData) {
    <div class="row">
      <div class="div">
        <div class="row">
          @if (cardDataTitle) {
          <div class="col">
            {{ cardDataTitle }}
          </div>
          }
          <div class="col">
            <p class="card-value-total m-0">
              {{ cardData }}
            </p>
            
          </div>
        </div>
      </div>
      
    </div>
    } @else {
      <div class="row d-flex align-items-center my-auto">
        <p>
          Sem dados. <br />
          Cadastre suas UCs
        </p>
      </div>
    
    }
  </div>
</div>
