<div class="navbar-top row d-flex justify-content-between">
  <div class="col-2 col-xl-2 px-5 pt-3">
    <i class="bi bi-list" style="font-size: 1.5rem"></i>
  </div>
  <div
    class="col-9 col-xl-2 d-flex justify-content-center profile-card mr-xl-5"
  >
    <div class="row w-100 px-5">
      <div class="col-4 d-flex justify-content-center align-items-center">
        <img
          src="https://pics.craiyon.com/2023-05-24/b717a3c36a284864a7093d8b2d62254f.webp"
          alt="profile-picture"
        />
      </div>
      <div
        class="col-8 d-flex flex-column justify-content-center align-items-center"
      >
        <p>Ricardo A.</p>
        <p>Engenheiro</p>
      </div>
    </div>
  </div>
  <div class="col-12 border-top border-bottom px-5 pt-2">
    <div class="row navbar d-flex justify-content-between">
      <div class="col col-xl-3 text-uppercase page-title">
        {{ titleService.getTitle() }}
      </div>
    </div>
  </div>
</div>
