.main-page {
    margin-top: 15vh;
    width: 88vw;
    margin-left: 12vw;
    background-color: #f3f6f9;
    min-height: 85vh;
    height: auto;

}

@media (max-width: 1199.98px) { 
    .main-page {
        width: 100vw;
        margin-left: 0;
        margin-top: 20vh;
    }
 }