button {
  color: white;
  height: 45px;
  border: none;
  border-radius: 4px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #ccccccb2 !important;
  color: #666666;
}
