.navbar {
    background-color: #1e01c2;
    height: 100vh; 
    position: fixed;
    z-index: 10;
    width: 12vw;
}

.img {
    object-fit: contain;
}

@media (max-width: 1199.98px) { 
    .navbar-mobile {
        width: 100vw;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #1e01c2;
        z-index: 14;
        position: fixed;
        
        
    }

    .nav-menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 75px;
        height: 75px;
        z-index: 15;
        background-color: #1e01c2;
    }
 }