<div class="table-header my-2 h-auto">
    <div class="div card-title p-3">
      <h4>
        {{ tableTitle }}
      </h4>
    </div>
    <table class="table h-100">
        <thead>
          <tr class="text-center">
            @for (header of tableHeader; track header) {
              <th scope="col"> {{ header }} </th>
            }
            <th scope="col">  </th>
          </tr>
        </thead>
        <tbody>
          @for (itemData of tableData; track itemData) {
            <tr>
              @for (header of tableHeader; track header) {
                <td class="my-1 text-center"> {{ itemData[header] }} </td>
                
              }
              <td> Config </td>
            </tr>
            
          }
        </tbody>
      </table>

</div>
